<!DOCTYPE html>
<html lang="en">
    {% include "frr_temp/includes/head.html" %}
    <body>
    
        {% include "frr_temp/includes/menu.html" %}
        
        <div class="container">
            <div id="wrapper">
                <div class="row-fluid">
            		
                    <div class="hero-unit masthead">
						{% for entrada in contenido_home %}
							<h1> {{ entrada.titulo }} </h1>
							<p> {{ entrada.contenido|raw }} </p>
						{% endfor %}
                      <!--<h1>Hello, world!</h1>
                      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                      <p><a class="btn btn-primary btn-large">Learn more</a></p>-->
                    </div><!--hero unit-->
                    
                    
                    <ul class="thumbnails">
                      {% for entrada in contenido_home_items %}
                      	{% if entrada.imagen_item %}
	                      <li class="span4">
	                        <div class="thumbnail">
	                          <img src="http://placehold.it/300x200" alt="">
	                          <div class="caption">
	                            <h3><a href="{{ "main/item"|url_sitio(entrada.entry_id) }}">{{ entrada.titulo }}</a></h3>
	                            <p>{{ entrada.contenido|longitud_max(140) }}</p>
                                <p class='center'><a href="{{ "main/item"|url_sitio(entrada.entry_id) }}" class="btn btn-mini btn-info">ver más</a></p>
	                          </div>
	                        </div>
	                      </li>
                      	{% endif %}
                      {% endfor %}
                    </ul>
                    
                </div>
            </div><!--wrapper-->
        </div><!--container main-->
        
        {% include "frr_temp/includes/footer.html" %}
        
    	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://localhost/argc/index.php/js/bootstrap-min-js"></script>
    </body>
</html>