{% extends "frr_temp/templates_base/item.html" %}
{% block title %} {{ contenido_home_items['10'].titulo }} {% endblock %}

{% block contenido %}
        
      
                        
      {% for entrada in contenido_home_items %}
          {% if entrada.imagen_item %}
            <div class="page-header">
                <h1>{{ entrada.titulo }}</h1>
                <small><span class="label label-info"><small>Por {{ entrada.autor }} el {{ entrada.entry_date }}</small></span></small>
            </div>
            
            <img src="{{ entrada.imagen_item }}" class="img-rounded pull-left margin-right-bottom-10">
            <p> {{ entrada.contenido |raw }} </p>
          {% endif %}
      {% endfor %}
      
{% endblock %}