<html>
<head>
<title>
Prueba
</title>
<link rel="stylesheet" type="text/css" media="all" href="http://localhost/argc/index.php/css/estilo" />

</head>
<body>
<a href="http://localhost/argc/">Link</a>
<script src="http://localhost/argc/index.php/js/principal"></script>
<script src="http://localhost/argc/index.php/js/p2"></script>

<!-- <script src="http://localhost/argc/index.php/js/principal"></script> -->

<link rel="stylesheet" type="text/css" media="all" href="http://localhost/argc/index.php/css/asd2" />


<ul>
{% for entrada in perroxxx if loop.index < 4 %}
        <li>{{ entrada.titulo }} - {{ entrada.nombre}} - {{ entrada.direccion }}</li>
    {% endfor %}
</ul>



<script src="http://localhost/argc/index.php/js/p3"></script>
</body>
</html>
