<div class="container main-menu">
    <div class="row">
        <div class="navigation">
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <a class="brand" href="{{ "main/home" | url_sitio }}">TDC/TDD 2012</a>
                <ul class="nav">
                  <li {% if "" == "home" %} class="active" {% endif %}>
                    <a href="{{ "main/home" | url_sitio }}">Home</a>
                  </li>
                  <li>
                    <a href="{{ "articulos/" | url_sitio }}">Articulos</a>
                  </li>
                  <li>
                   <a href="{{ "noticias/" | url_sitio }}">Noticias</a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </div><!---row-->
</div><!--header container -->